/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}
body {
  background-image: radial-gradient(circle, #279b42, #24913d, #218739, #1f7d34, #1c7330);width: 100%;
}
