<div class="wrapper">
  <div class="main-window">
    <div class="title">
      <img src="assets/mainLogo/StartGame.png" width="20%">
      <h1>404</h1>
      <img src="assets/mainLogo/StartGame.png" class="scale" width="20%">
    </div>
    <div class="description">
      <p class="text-description">Дорогой друг, похоже ты заблудился, так как такой страницы не существует (:</p>
      <p class="text-description">Могу предложить сыграть в одну интересную игру</p>
      <button mat-button routerLink="/start">Послушать чудака со страницы</button>
    </div>
  </div>
</div>
